<table>
    <tr>
        <th>Tên sản phẩm</th>
        <th>Ảnh</th>
        <th>Danh mục</th>
        <th>Giá</th>
        <th>Mô tả</th>
        <th>
            <a href="/products/add">Thêm</a>
        </th>
    </tr>
    {{#each products}}
    <tr>
        <td>{{this.name}}</td>
        <td>
            <img src="{{this.image}}" width="100">
        </td>
        <td>{{this.cate_id.name}}</td>
        <td>{{this.price}}</td>
        <td>{{this.detail}}</td>
        <td>
            <a href="/products/edit/{{this._id}}">Sửa</a>
            <a href="/products/remove/{{this._id}}">Xóa</a>
        </td>
    </tr>
    {{/each}}
</table>