<table>
    <tr>
        <th>Tên danh mục</th>
        <th>Ảnh</th>
        <th>Mô tả</th>
        <th>
            <a href="/cates/add">Thêm danh mục</a>
        </th>
    </tr>
    {{#each cates}}
    <tr>
        <td>{{this.name}}</td>
        <td>
            <img src="{{this.image}}" width="100">
        </td>
        <td>{{this.description}}</td>
        <td>
            <a href="/cates/edit/{{this._id}}">Sửa</a>
            <a href="/cates/remove/{{this._id}}">Xóa</a>
        </td>
    </tr>
    {{/each}}
</table>